header{
    color: white;
    height: 70px;
    width:100%;
    border-bottom: 1px #CCCCCC solid;
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo{
    background-image: url("/images/hbnb_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 20px;
    width: 200px;
    height: 50px;
}

/* MOBILE SCREEN SIZES=============== */
@media screen and (max-width:575px) {
    header{
        width: 100%;
    }
    header .logo{
        width: 100px;
    }
}