.places{
    padding: 0px 70px;
}

.places h1{
    transform: translateX(-50px);
    font-size: 30px;
    text-align: left;
    margin-top: 20px;
}
.article_container{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}
.article_container article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px ;
}
.article_container article:last-child{
    position: relative;
    left: 25%;
}
article h2{
    font-size: 30px;
    text-align: center;
}
